@tailwind base;
@tailwind components;
@tailwind utilities;

/* OPTIONAL: shadcn tokens */
:root {
    --background: 0 0% 100%;
    --foreground: 0 0% 7%;
}

.dark {
    --background: 0 0% 7%;
    --foreground: 0 0% 100%;
}
